:root {
    --text-color:#40514E;
    --text-accent: #2F89FC;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}


body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fff;
}

li{
    text-decoration: none;
    list-style: none;
}

.main-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.main-menu-left{
    display: flex;
}

.logo{
    margin: auto 0;
}

.main-menu{
    margin: auto 0;
}

.main-menu-list{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.main-menu-list a{
    margin-right: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color:var(--text-color);;
    position: relative;
    

}
.main-menu-list a:hover{
    color: var(--text-accent);;
    cursor: pointer;
    text-decoration: none;
}

.main-menu-list a:after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid var(--text-accent);
    transition: width 0.2s ease;
}

.main-menu-list a:hover:after {
    width: 100%;
}

.main-menu-right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-login{
    padding: 8px;
    background-color: #fff;
    color: var(--text-color);
    border: solid 1px var(--text-accent);
    text-decoration: none;
    border-radius: 5px;}
.btn-login:hover{
    box-shadow: 0 0 4px 1px var(--text-accent);
    color: var(--text-color);
    text-decoration: none;

}

.baner{
    margin: 30px 0 0 30px;
    height: 400px;
}

.baner-text-title{
    font-size: 48px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 56px;
}

.baner-text-title span{
    font-size: 48px;
    color: var(--text-accent);
    font-weight: 600;
}

